<template name="levyraatiMainLayout">
    {{> sAlert}}
    {{> header}}
    <div class="jumbotron">
        <div class="container">
            {{> yield "jumbotron"}}
        </div>
    </div>
    <div class="container main-content">
        {{>yield}}
    </div>
    <footer>
        <div class="container">
            <p>{{mf 'footr.imp.by' 'Ohjelmointi '}}<strong>Henri Nybom 2015</strong></p>
            <p>{{mf 'footr.fork' 'Hae mut '}}<a href="https://github.com/hnybom/levyraati">Musaraati</a></p>
        </div>
    </footer>
</template>