<template name="levyraatiMainLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{> sAlert}}
        {{> header}}
        <div class="jumbotron">
            <div class="container">
                {{> yield "jumbotron"}}
            </div>
        </div>
        <div class="container main-content">
            {{>yield}}
        </div>
        <footer>
            <div class="container">
                <p>{{mf 'footr.imp.by' 'Ohjelmointi '}}<strong>Henri Nybom 2015</strong></p>
                <p>{{mf 'footr.fork' 'Hae mut '}}<a href="https://github.com/hnybom/levyraati">https://github.com/hnybom/levyraati</a></p>
            </div>
        </footer>
    </body>
</template>