<template name="levyraatiMainLayout">
    <body>
        {{> sAlert}}
        {{> header}}
        <div class="jumbotron">
            <div class="container">
                {{> yield "jumbotron"}}
            </div>
        </div>
        <div class="container">
            {{>yield}}
        </div>
        <footer>
            <div class="container">
                <p>Implementation by <strong>Henri Nybom 2015</strong></p>
                <p>Fork me at <a href="https://github.com/hnybom/levyraati">https://github.com/hnybom/levyraati</a></p>
            </div>
        </footer>
    </body>
</template>