h3 {
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.thumbnail {
  height: 400px;
  overflow: hidden;
}

.pad30 {
  padding: 30px;
}

.pad15 {
  padding: 15px;
}

.thin-border {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.no-link {

}