a{
    text-decoration : none;
}

a:hover {
    text-decoration : none;
    font-weight     : bold;
}

.spaceme {
    margin-top: 20px;
}

.error {
    color: #D9534F;
}

.navbar-brand {
    color: #ffffff;
    font-size: 50px !important;
}

.navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    color: #EEEEEE;
    background: 0 0;
    background-color:rgba(0, 0, 0, 0.5);
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-custom.top-nav-collapse {
    color: #EEEEEE;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: #000;
}

.jumbotron {
    color: #EEEEEE;
    padding-top: 140px;
    padding-bottom: 100px;
    background: url(../images/gramophone-macro.jpg);
    background-size : cover;
    background-color: #000000;
}

.jumbotron-player {
    margin-left: 60px;
}

.main-content {
    margin-bottom: 200px;
}

.rating-row {
    border-bottom: thin solid #B3A9A9;
    margin-right: 10px;
    padding: 5px 0;
}

.rating-row img {
    height: 20px;
}

.breadcrumb {
    margin: 0 0 0 3px;
    background-color: inherit;
    border-radius: 0px;
    color: #EEEEEE;
}
.breadcrumb a {
    color: #EEEEEE;
}

.navbar-right {
    margin-top: 15px;
    margin-right: 150px;
}

.navbar-brand {
    font-size: 28px;
}
.thin-border {
    -webkit-box-shadow: 10px 10px 15px 0px rgba(50, 50, 50, 0.27);
    -moz-box-shadow:    10px 10px 15px 0px rgba(50, 50, 50, 0.27);
    box-shadow:         10px 10px 15px 0px rgba(50, 50, 50, 0.27);
}

.margin-bottom {
 margin-bottom: 20px;
}

.competitions {
    background-color: #EEEEEE;
    padding-bottom: 20px;
}

.competitions h3 {
    text-transform: uppercase;
}

.open-competitions .owner .text-primary {
    color: #5CB85C;
}

.open-competitions .text-primary {
    color: #FED136;
}

.help-block {
    color: #EEEEEE;
}

.closed-competitions .text-primary {
    color: #D9534F;
}


#login-buttons a{
    color: #EEEEEE;
    font-size: 12px;
    text-decoration: none;
}

.loading-gif {
    background:
    #777777
    url(../images/ajax-loader.gif)
    no-repeat
    left center;
}

.-autocomplete-container {
    color: #000;
}

.user-list {
    list-style-type: none;
    padding-left: 0;
}

.user-list li {
    padding: 5px;
    margin: 5px;
    background-color: #2B77BA;
    color: #ffffff;
}

.user-list li span {
    float: left;
    margin-right: 20px;
}

.user-list li a {
    color: #ffffff;
    cursor: pointer;
    float: right;
}

.button-col {
    margin-top: 10px;
}

.rating-form {
    margin-top: 10px;
}

.song-entry {
    color: #EEEEEE;
    padding-bottom: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
    background: #000000;
    background: -moz-linear-gradient(-45deg,  #000000 0%, #45484d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #000000 0%,#45484d 100%); /* IE10+ */
    background: linear-gradient(135deg,  #000000 0%,#45484d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

footer {
    padding: 10px 0;
    color: #EEEEEE;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
