body {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration : none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.spaceme {
    margin-top: 20px;
}

.btn-GitHub, .or-text {
    color: #000000;
}

.navbar-brand {
    margin-top: 10px;
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-custom {
    padding: 10px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    color: #EEEEEE;
    background: 0 0;
    background-color:rgba(0, 0, 0, 0.5);
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

@media screen and (max-width: 767px) {
    .navbar-custom {
        background-color:rgba(0, 0, 0, 1);
    }
}

.navbar-custom.top-nav-collapse {
    color: #FFF;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background-color:rgba(0, 0, 0, 0.9);
}

.margin-left10 {
    margin-left: 10px;
}

.jumbotron {
    color: #EEEEEE;
    padding-top: 140px;
    padding-bottom: 100px;
    background: url(../images/people-party-dancing-music.jpg);
    background-size : cover;
    background-color: #000000;
    text-shadow: 1px 1px #555;
    margin-bottom: 0;
}

.jumbotron-player {
    margin-left: 60px;
}

.main-content {
    max-width: 1400px;
}

.rating-row {
    border-bottom: thin solid #B3A9A9;
    margin-right: 10px;
    padding: 5px 0;
}

.rating-row img {
    height: 20px;
}

.breadcrumb {
    margin: 0 0 0 3px;
    background-color: inherit;
    border-radius: 0px;
    color: #EEEEEE;
}
.breadcrumb a {
    color: #EEEEEE;
}

.navbar-right {
    margin-top: 15px;
    margin-right: 10px;
}

.nav .dropdown-toggle {
    background-color: inherit !important;
}

.dropdown-menu {
    background-color: #ffffff !important;
}

.margin-bottom {
 margin-bottom: 20px;
}

.help-block {
    color: #EEEEEE;
}

.error {
    color: #D9534F;
}

.closed-competitions .text-primary {
    color: #D9534F;
}


.accounts-dialog a {
    color: #555555;
    font-size: 12px !important;
    text-decoration: none !important;
}

.login-link-text {
    color: #EEEEEE;
    text-decoration: none !important;
}

.login-link-text:hover {
    color: #EEEEEE;
}

.loading-gif {
    background:
    #777777
    url(../images/ajax-loader.gif)
    no-repeat
    left center;
}

.-autocomplete-container {
    color: #000;
}

.user-list {
    list-style-type: none;
    padding-left: 0;
}

.user-list li {
    padding: 5px;
    margin: 5px;
    background-color: #5cb85c;
    color: #ffffff;
}

.user-list li span {
    float: left;
    margin-right: 20px;
}

.user-list li a {
    color: #ffffff;
    cursor: pointer;
    float: right;
}

.bootbox-body .help-block {
    color: #555555;
}

.rating-form {
    margin-top: 10px;
}

.song-entry {
    color: #000;
    padding-bottom: 20px;
    background-color: #CCC;
}

footer {
    padding: 3px 0 0 0;
    color: #EEEEEE;
    background-color: #000000;
    bottom: 0;
    width: 100%;
}
