<template name="songItem">
    <div class="row song-entry thin-border margin-bottom">
        <div class="col-md-6">
            {{#if isOkToEdit}}
                <div class=" button-col">
                    <a class="edit-song btn btn-primary" data-songid="{{this._id}}">{{mf 'song.edit' 'Muokkaa'}}</a>
                </div>
            {{/if}}
            <h4>Entry by {{getUserName this.creator}}</h4>
            {{>songPlayer this}}
        </div>
        <div class="col-md-6">
            {{#unless isOwner this}}
                <div class="row">
                    <form class="main form rating-form">
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{mf 'song.rating' 'Sinun mielipiteesi'}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu rating-menu">
                                {{#each loopCount 10}}
                                    <li class="{{ratingChecked this.val ..}}"><a href="javascript:void(0)" data-rating="{{this.val}}">{{this.val}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </form>
                </div>
            {{/unless}}
            <h4>{{mf 'song.ratings' 'Tulokset'}}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{mf 'song.ratings.name' 'Nimi'}}</th>
                        <th>{{mf 'song.ratings.rating' 'Arvosana'}}</th>
                    </tr>
                </thead>
                <tbody>
                {{#each getRatingsForThisSong this}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{getUserName this.userId}}</td>
                        <td>
                            {{this.rating}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <span class="average-row"><strong>{{mf 'song.ratings.average' 'Yhteensä'}} {{averageRating this}}</strong></span>
        </div>
    </div>
</template>