<template name="songItem">
    <div class="song-grid-item col-md-4 col-sm-6 col-xs-12" data-real-date="{{created}}">
        <div class="song-card margin-bottom flip-container">
            <div class="flipper">
                <div class="front pad15">
                    <div class="card-top">
                        <h3 class="song-title">{{name}}</h3>
                        <p class="song-meta"><span class="created-date">{{formatDateWithoutTime created}}</span>&nbsp;&nbsp;<span class="competitor">{{getUserName this.creator}}</span></p>
                    </div>
                    {{>songPlayer this}}
                    <div class="total-rating-heading"><strong>{{ mf 'competition.end.popup.rating' 'Tulos'}}</strong></div>
                    <div class="total-rating">{{averageRating this}}</div>
                    <div class="spaceme"></div>
                    <div class="button-col">
                        {{#unless isOwner this}}
                            <form class="main form rating-form">
                                <!-- Split button -->
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{mf 'song.rating' 'Sinun mielipiteesi'}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu rating-menu">
                                        {{#each loopCount 10}}
                                            <li class="{{ratingChecked this.val ..}}"><a href="javascript:void(0)" data-rating="{{this.val}}">{{this.val}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </form>
                        {{/unless}}
                        {{#if isOkToEdit}}
                            <a class="edit-song btn btn-primary" data-songid="{{this._id}}">{{mf 'song.edit' 'Muokkaa'}}</a>
                        {{/if}}
                        <a class="btn btn-default see-all-song-results">{{mf 'song.results' 'Tulokset'}}</a>
                    </div>
                </div>
                <div class="back pad15">
                    <h4>{{mf 'song.ratings' 'Tulokset'}}</h4>
                    <div class="table-container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{mf 'song.ratings.name' 'Nimi'}}</th>
                                <th>{{mf 'song.ratings.rating' 'Arvosana'}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each getRatingsForThisSong this}}
                                <tr>
                                    <td>{{inc @index}}</td>
                                    <td>{{getUserName this.userId}}</td>
                                    <td>
                                        {{this.rating}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="spaceme"></div>
                    <span class="average-row"><strong>{{mf 'song.ratings.average' 'Yhteensä'}} {{averageRating this}}</strong></span>
                    <div class=" button-col">
                        <a class="btn btn-default see-all-song-results">{{mf 'common.back' 'Takaisin'}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>