<template name="competitionsList">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{mf 'competitions.open' 'Avoimet kilpailut'}}</h3>
        </div>
    </div>
    <div class="row text-center open-competitions competitions">
        {{#each openCompetitions}}
            {{> competitionItem}}
        {{/each}}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>{{mf 'competitions.closed' 'Päättyneet kilpailut'}}</h3>
        </div>
    </div>
    <div class="row text-center spaceme closed-competitions competitions">
        {{#each closedCompetitions}}
            {{> competitionItem}}
        {{/each}}
    </div>

</template>