<template name="chat">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right">
                <button id="close-chat-button" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </div>
        </div>
        <div id="chat-panel-body" class="panel-body">
            <ul class="chat">
                {{#each chats}}
                    <li class="clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{getUserName userId}}</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{formatDate created}}</small>
                            </div>
                            <p>{{message}}</p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="chat-btn-input" type="text" class="form-control input-sm" placeholder="{{mf 'chat.send.placeholder' 'Viestisi...'}}">
                <span class="input-group-btn">
                    <button id="chat-send-button" class="btn btn-warning btn-sm">{{mf 'chat.send.submit' 'Lähetä'}}</button>
                </span>
            </div>
        </div>
    </div>
</template>
