<template name="competitionForm">
    <h2>Add new competition</h2>
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="url">Name:</label>
            <div class="controls">
                <input name="name" id="name" type="text" value="" placeholder="Comeptition name" class="form-control"/>
                <span class="help-block"></span>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>