<template name="userPill">
    <span class="label-pill">{{username}}</span>
</template>

<template name="competitionPill">
    <span class="label-pill">{{name}}</span>
</template>


<template name="competitionActions">
    {{#if isClosed}}
        {{> competitionEnd competition}}
    {{else}}
        <div class="row">
            <div class="col-md-6">
                <h2>{{competition.name}}</h2>
                <p>{{competition.description}}</p>
                <h2>{{mf 'competition.users' 'Kilpailussa mukana'}}</h2>
                <div class="added-users">
                    <ul class="user-list">
                        <div class="row">
                            <div class="col-md-12">
                                <li class="btn btn-md">
                                    <span class="user-name">{{getUserName competition.creator}}</span>
                                </li>
                                {{#each competition.users}}
                                    <li class="btn btn-md">
                                        <span class="user-name">{{getUserName this}}</span>
                                        {{#if isCreator ..}}
                                            <a class="remove-user" data-userid="{{this}}">X</a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                {{#if isCreator}}
                    <h2>{{mf 'competition.add.users' 'Lisää käyttäjiä kilpailuun'}}</h2>

                    <div class="controls">
                        <form class="user form">
                            <div class="controls">
                                <label class="control-label" for="users">{{mf 'competition.add.user.label' 'Lisää käyttäjiä kilpailuun'}}</label>
                                {{> inputAutocomplete settings=settings id="users" class="input-xlarge form-control"}}
                                <span class="help-block">
                                    {{mf 'competition.add.user.help' 'Voit lisätä yksittäisen käyttäjän kirjoittamalla @-merkin ja edellisen kilpailun kaikki käyttäjät valitsemalla kilpailun kirjoittamalla !-merkin.'}}
                                </span>
                            </div>
                        </form>
                    </div>
                    <button id="end-competition" class="btn btn-danger">{{mf 'competition.end' 'Päätä kilpailu'}}</button>
                {{/if}}
            </div>
        </div>
        {{#if noSongSubmitted}}
            <div class="row spaceme">
                <div class="col-md-6">
                    <h2>{{mf 'competition.add.song.title' 'Lisää biisi'}}</h2>
                    <p>{{mf 'competition.add.song.text' 'Tästä voit lisätä oman hittibiisisi mukaan kilpailuun. Lisääminen tukee spotify URI:a ja youtube hash-koodeja, joten antaa palaa.'}}
                    </p>
                </div>
                <div class="col-md-6">

                    <form class="main form">
                        <div class="form-group">

                            <label class="control-label" for="uri">{{mf 'competition.add.song.uri.label' 'Spotify URI tai youtube hash'}}</label>

                            <div class="controls">
                                <input name="uri" id="uri" type="text" value=""
                                       placeholder="{{mf 'competition.add.song.uri.label' }}" class="form-control"/>
                                <span class="help-block error">{{errorMessage 'uri'}}</span>
                            </div>

                            <label class="control-label" for="url">{{mf 'competition.add.song.name.label' 'Biisin nimi'}}</label>
                            <div class="controls">
                                <input name="name" id="name" type="text" value="" placeholder="{{mf 'competition.add.song.name.label'}}"
                                       class="form-control"/>
                                <span class="help-block error">{{errorMessage 'name'}}</span>
                            </div>

                            <input type="submit" value="{{mf 'competition.add.song.submit.label' 'Lisää biisi'}}" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        {{/if}}
    {{/if}}
</template>