<template name="competitionEnd">
    <div class="row">
        {{#with winner}}
            <div class="col-md-6">
                <h3>{{mf 'competition.end.head' 'Ja voittaja on...'}}</h3>
                <h2>{{getUserName this.creator}}</h2>
                <p>{{mf 'competition.end.text' 'Onnittelut voittajalle! Hän on selkeesti biisien keisari, sadan päämies, satelliitti helvetin pääperkele. Tsekkaa voitto biisi vielä tästä'}}
                </p>
                <a id="seeTheResults" class="btn btn-success">{{mf 'competition.end.results' 'Katso kaikki tulokset'}}</a>
            </div>
            <div class="col-md-6">
                <div class="jumbotron-player">
                    {{>songPlayer this}}
                </div>
            </div>
        {{/with}}
    </div>
</template>