<template name="userPill">
    <span class="label-pill">{{username}}</span>
</template>

<template name="competitionActions">
    {{#if isClosed}}
        {{> competitionEnd competition}}
    {{else}}
        <div class="row">
            <div class="col-md-6">
                <h2>Users in the competition</h2>

                <div class="added-users">
                    <ul class="user-list">
                        <div class="row">
                            <div class="col-md-12">
                                {{#each competition.users}}
                                    <li class="btn btn-md">
                                        <span class="user-name">{{getUserName this}}</span>
                                        {{#if isCreator ..}}
                                            <a class="remove-user" data-userid="{{this}}">X</a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                {{#if isCreator}}
                    <h2>Add users</h2>

                    <div class="controls">
                        <form class="user form">
                            <div class="controls">
                                <label class="control-label" for="users">add user:</label>
                                {{> inputAutocomplete settings=settings id="users" class="input-xlarge form-control"}}
                                <span class="help-block"></span>
                            </div>
                        </form>
                    </div>
                    <button id="end-competition" class="btn btn-danger">End competition</button>
                {{/if}}
            </div>
        </div>
        {{#if noSongSubmitted}}
            <div class="row">
                <div class="col-md-6">
                    <h2>Add new song</h2>
                    <p>Here you can add your killer tune to the competition.
                        Currently spotify URIs and youtube hashes are supported.
                        So just go for it and take home the win!</p>
                </div>
                <div class="col-md-6">

                    <form class="main form">
                        <div class="form-group">
                            <label class="control-label" for="url">Name:</label>

                            <div class="controls">
                                <input name="name" id="name" type="text" value="" placeholder="Song name"
                                       class="form-control"/>
                                <span class="help-block">{{errorMessage 'name'}}</span>
                            </div>

                            <label class="control-label" for="uri">Spotify URI or Youtube Code:</label>

                            <div class="controls">
                                <input name="uri" id="uri" type="text" value=""
                                       placeholder="Spotify URI or Youtube code" class="form-control"/>
                                <span class="help-block">{{errorMessage 'uri'}}</span>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        {{/if}}
    {{/if}}
</template>