<template name="competitionForm">
    <div class="row">
        <div class="col-md-6">
            <h1>Musaraati</h1>
            <p>{{mf 'competition.form.text' 'Musaraati on...no musaraati. Kutsu ystäväsi kilpailuusi ja äänestäkää kimpassa paras biisi.'}}</p>
        </div>
        <div class="col-md-6">
            <h2>{{mf 'competition.form.head' 'Luo uusi kilpailu'}}</h2>
            <form class="main form">
                <div class="form-group">
                    <label class="control-label" for="name">{{mf 'competition.form.name.label' 'Nimi'}}</label>
                    <div class="controls">
                        <input name="name" id="name" type="text" value="" placeholder="{{mf 'competition.form.name.label'}}" class="form-control"/>
                        <span class="help-block error">{{errorMessage 'name'}}</span>
                    </div>
                    <label class="control-label" for="name">{{mf 'competition.form.desc.label' 'Kuvaus'}}</label>
                    <div class="controls">
                        <textarea name="description" id="description" rows="5"
                               placeholder="{{mf 'competition.form.desc.label'}}" class="form-control"></textarea>
                        <span class="help-block error">{{errorMessage 'description'}}</span>
                    </div>
                </div>
                <input type="submit" value="{{mf 'competition.form.submit.label' 'Luo kilpailu'}}" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</template>
