<template name="songPlayer">
    {{#if this.uri}}
        {{#if isSpotify this.uri}}
            <div class="songItem spotify">
                <iframe class="spotify" src="https://embed.spotify.com/?uri={{uri}}" width="100%" height="100px"
                        frameborder="0" allowtransparency="true"></iframe>
            </div>
        {{else}}
            <div class="songItem youtube">
                <iframe class="youtube" id="ytplayer" type="text/html" width="100%" height="100%"
                        src="http://www.youtube.com/embed/{{uri}}?autoplay=0"
                        frameborder="0">
                </iframe>
            </div>
        {{/if}}
    {{/if}}
</template>